<% provide :title, t(".resend") %>
<section class="vh-100">
  <div class="home-center">
    <div class="home-desc-center">
      <div class="container">
        <div class="row justify-content-center mt-4 mb-4">
          <div class="col-md-6">
            <div class="login_page bg-white shadow rounded p-4">
              <div class="text-center">
                <h4 class="mb-4"><%= t ".resend" %></h4>
              </div>
              <%= form_for resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post } do |f| %>
                <div class="row mb-2">
                  <div class="col-md-12">
                    <%= render "users/shared/error_messages", resource: resource %>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group position-relative">
                      <%= f.label :email do %>
                        <%= t ".email" %><span class="text-danger"> *</span>
                      <% end %>
                      <%= f.email_field :email, class: "form-control", required: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
                      <div class="invalid-feedback" style="display: block;">
                        <%= f.object.errors.full_messages_for(:email).join("\n") %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <%= f.submit t(".resend"), class: "btn btn-primary w-100" %>
                  </div>
                </div>
              <% end %>
              <%= render "users/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
