<section class="bg-home" style="background: url('<%= asset_path random_background %>') no-repeat center center / cover;">
  <div class="bg-overlay"></div>
  <div class="home-center">
    <div class="home-desc-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="title-heading text-center text-white">
              <h6 class="small-title text-uppercase text-light mb-3">
                <%= t ".sharing_words" %>
              </h6>
              <h1 class="heading font-weight-bold mb-4">
                <%= t ".greeting_words" %>
              </h1>
            </div>
          </div>
        </div>
        <div class="home-form-position">
          <div class="row">
            <div class="col-lg-12">
              <div class="home-registration-form p-4 mb-3">
                <%= search_form_for q, class: "registration-form" do |f| %>
                  <div class="row">
                    <div class="col-lg-4 col-md-6">
                      <div class="registration-form-box">
                        <i class="fas fa-briefcase"></i>
                        <%= f.search_field :title_cont, class: "form-control rounded registration-input-box", placeholder: t("shared.search_bar.job_keywords") %>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="registration-form-box">
                        <i class="fa fa-list-alt"></i>
                        <%= f.select :category_id_eq, Category.all.collect {|c| [c.title, c.id]}, {include_blank: t("shared.search_bar.category")}, {class: "form-control rounded registration-input-box"} %>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="registration-form-box">
                        <%= f.submit t("shared.search_bar.search"), class: "submitBnt btn btn-primary btn-block" %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
