<%= form_for experience, remote: true do |f| %>
  <div class="modal-body">
    <%= hidden_field :experience, :profile_id, value: experience.profile_id  %>
    <div class="form-group app-label">
      <%= f.label :company_name, class: "text-muted" do %>
        <%= t ".company_name" %>
        <span class="text-danger">*</span>
      <% end %>
      <%= f.text_field :company_name, class: "form-control resume", required: true,
        maxlength: Settings.validations.experience.company_name.maximum,
        minlength: Settings.validations.experience.company_name.minimum %>
      <div class="invalid-feedback">
        <%= f.object.errors.full_messages_for(:company_name).join("\n") %>
      </div>
    </div>
    <div class="form-group app-label">
      <%= f.label :job_position, class: "text-muted" do %>
        <%= t ".job_position" %>
        <span class="text-danger">*</span>
      <% end %>
      <%= f.text_field :job_position, class: "form-control resume", required: true,
        maxlength: Settings.validations.experience.job_position.maximum,
        minlength: Settings.validations.experience.job_position.minimum %>
      <div class="invalid-feedback">
        <%= f.object.errors.full_messages_for(:job_position).join("\n") %>
      </div>
    </div>
    <div class="form-group app-label">
      <%= f.label :date_from, class: "text-muted" do %>
        <%= t ".date_from" %>
        <span class="text-danger">*</span>
      <% end %>
      <%= f.text_field :date_from, class: "form-control resume", required: true,  data: {provide: :datepicker}, "data-date-format": "yyyy-mm-dd" %>
      <div class="invalid-feedback">
        <%= f.object.errors.full_messages_for(:date_from).join("\n") %>
      </div>
    </div>
    <div class="form-group app-label">
      <%= f.label :date_to, class: "text-muted" do %>
        <%= t ".date_to" %>
        <span class="text-danger">*</span>
      <% end %>
      <%= f.text_field :date_to, class: "form-control resume", required: true,  data: {provide: :datepicker}, "data-date-format": "yyyy-mm-dd" %>
      <div class="invalid-feedback">
        <%= f.object.errors.full_messages_for(:date_to).join("\n") %>
      </div>
    </div>
    <div class="form-group app-label">
      <%= f.label :additional_information, class: "text-muted" do %>
        <%= t ".additional_information" %>
      <% end %>
      <%= f.text_area :additional_information, class: "form-control resume", maxlength: Settings.validations.experience.additional_information.maximum %>
      <div class="invalid-feedback">
        <%= f.object.errors.full_messages_for(:additional_information).join("\n") %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t ".close" %></button>
    <%= f.submit t(".save_changes"), class: "btn btn btn-primary" %>
  </div>
<% end %>
