<%= form_for profile, remote: true do |f| %>
  <div class="modal-body">
    <div class="form-group app-label">
      <%= f.label :first_name, class: "text-muted" do %>
        <%= t ".first_name" %>
        <span class="text-danger">*</span>
      <% end %>
      <%= f.text_field :first_name, class: "form-control resume", required: true,
        maxlength: Settings.validations.profile.first_name.maximum,
        minlength: Settings.validations.profile.first_name.minimum %>
      <div class="invalid-feedback">
        <%= f.object.errors.full_messages_for(:first_name).join("\n") %>
      </div>
    </div>
    <div class="form-group app-label">
      <%= f.label :last_name, class: "text-muted" do %>
        <%= t ".last_name" %>
        <span class="text-danger">*</span>
      <% end %>
      <%= f.text_field :last_name, class: "form-control resume", required: true,
        maxlength: Settings.validations.profile.last_name.maximum,
        minlength: Settings.validations.profile.last_name.minimum %>
      <div class="invalid-feedback">
        <%= f.object.errors.full_messages_for(:last_name).join("\n") %>
      </div>
    </div>
    <div class="form-group app-label">
      <%= f.label :date_of_birth, class: "text-muted" do %>
        <%= t ".date_of_birth" %>
        <span class="text-danger">*</span>
      <% end %>
      <%= f.text_field :date_of_birth, class: "form-control resume", required: true,  data: {provide: :datepicker}, "data-date-format": "yyyy-mm-dd" %>
      <div class="invalid-feedback">
        <%= f.object.errors.full_messages_for(:date_of_birth).join("\n") %>
      </div>
    </div>
    <div class="form-group app-label">
      <%= f.label :gender, class: "text-muted" do %>
        <%= t ".gender" %>
        <span class="text-danger">*</span>
      <% end %>
      <div class="form-button">
        <%= f.select :gender, options_for_select(Profile.genders.map {|key, value| [key.humanize.capitalize, value]}),  {include_blank: t(".gender")}, {class: "nice-select rounded", required: true} %>
      </div>
      <div class="invalid-feedback">
        <%= f.object.errors.full_messages_for(:gender_id).join("\n") %>
      </div>
    </div>
    <div class="form-group app-label">
      <%= f.label :address, class: "text-muted" do %>
        <%= t ".address" %>
        <span class="text-danger">*</span>
      <% end %>
      <%= f.text_field :address, class: "form-control resume", required: true, maxlength: Settings.validations.profile.address.maximum %>
      <div class="invalid-feedback">
        <%= f.object.errors.full_messages_for(:address).join("\n") %>
      </div>
    </div>
    <div class="form-group app-label">
      <%= f.label :phone_number, class: "text-muted" do %>
        <%= t ".phone_number" %>
        <span class="text-danger">*</span>
      <% end %>
      <%= f.text_field :phone_number, class: "form-control resume", required: true %>
      <div class="invalid-feedback">
        <%= f.object.errors.full_messages_for(:phone_number).join("\n") %>
      </div>
    </div>
    <div class="form-group app-label">
      <%= f.label t(".introduction"), class: "text-muted" %>
      <%= f.text_area :introduction, class: "form-control resume", maxlength: Settings.validations.profile.introduction.maximum %>
      <div class="invalid-feedback">
        <%= f.object.errors.full_messages_for(:introduction).join("\n") %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t ".close" %></button>
    <%= f.submit t(".save_changes"), class: "btn btn btn-primary" %>
  </div>
<% end %>
