<div class="border rounded p-4 mb-4">
  <h5 class="text-muted text-center pb-2"><%= t ".general_information" %></h5>
  <div class="single-post-item mb-4 border-top pt-4">
    <div class="overview-details">
      <h6 class="text-muted mb-0"><%= t ".name" %></h6>
      <h6 class="text-black-50 pt-2 mb-0">
        <%= profile.full_name %>
      </h6>
    </div>
  </div>
  <div class="single-post-item mb-4">
    <div class="overview-details">
      <h6 class="text-muted mb-0">
        <%= t ".date_of_birth" %>
      </h6>
      <h6 class="text-black-50 pt-2 mb-0">
        <%= profile.date_of_birth %>
      </h6>
    </div>
  </div>
  <div class="single-post-item mb-4">
    <div class="overview-details">
      <h6 class="text-muted mb-0">
        <%= t ".gender" %>
      </h6>
      <h6 class="text-black-50 pt-2 mb-0">
        <%= profile.gender %>
      </h6>
    </div>
  </div>
  <div class="single-post-item mb-4">
    <div class="overview-details">
      <h6 class="text-muted mb-0">
        <%= t ".address" %>
      </h6>
      <h6 class="text-black-50 pt-2 mb-0">
        <%= profile.address %>
      </h6>
    </div>
  </div>
  <div class="single-post-item mb-4">
    <div class="overview-details">
      <h6 class="text-muted mb-0">
        <%= t ".phone_number" %>
      </h6>
      <h6 class="text-black-50 pt-2 mb-0">
        <%= profile.phone_number %>
      </h6>
    </div>
  </div>
</div>
