<% provide :title, "#{@profile.full_name} | #{t(".title")}"%>
<% if @profile %>
  <section class="bg-half page-next-level" style="background: url('<%= asset_path random_background %>') no-repeat center center / cover;">
    <div class="bg-overlay"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="candidates-profile-details text-center">
            <img src="<%= Settings.url.placeholder.avatar %>" height="150" alt="" class="d-block mx-auto shadow rounded-pill mb-4">
            <h5 class="text-white mb-2">
              <%= @profile.full_name %>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="row justify-content-center">
    <%= render "profile_modal", profile: @profile %>
  </div>
  <section class="section">
    <div class="container">
      <div class="row">
        <div id="general_information" class="col-lg-4 col-md-5 mt-4 mt-sm-0 pt-2 pt-sm-0 order-md-2">
          <%= render @profile %>
        </div>
        <div class="col-lg-8 col-md-7 mt-sm-0 order-md-1">
          <div class="row">
            <div class="col-md-12 mt-md-0">
              <blockquote class="blockquote p-3">
                <p class="text-muted mb-0 font-italic"><%= @profile.introduction %></p>
              </blockquote>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 mt-4 pt-2">
              <h4 class="text-dark"><%= t ".educations" %><%= render "education_modal", education: @new_education %></h4>
            </div>
          </div>
          <div id="educations_details" class="row">
            <%= render @profile.educations %>
          </div>
          <div class="row">
            <div class="col-lg-12 mt-4 pt-2">
              <h4 class="text-dark"><%= t ".experiences" %><%= render "experience_modal", experience: @new_experience %></h4>
            </div>
          </div>
          <div id="experiences_details" class="row">
            <%= render @profile.experiences %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
