<% provide :title, t(".signin") %>
<section class="vh-100">
  <div class="home-center">
    <div class="home-desc-center">
      <div class="container">
        <div class="row justify-content-center mt-4 mb-4">
          <div class="col-md-6">
            <div class="login_page bg-white shadow rounded p-4">
              <div class="text-center">
                <h4 class="mb-4"><%= t ".signin" %></h4>
              </div>
              <%= form_for :session, url: login_path do |f| %>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group position-relative">
                      <%= f.label :email do %>
                        <%= t ".email " %><span class="text-danger"> *</span>
                      <% end %>
                      <%= f.email_field :email, class: "form-control", required: true %>

                      <%= f.label :password do %>
                        <%= t ".password" %><span class="text-danger"> *</span>
                      <% end %>
                      <%= f.password_field :password, class: "form-control", required: true %>

                      <%= f.label :remember_me, class: "checkbox inline" do %>
                      <%= f.check_box :remember_me %>
                        <span><%= t ".remember_me" %></span>
                      <% end %>
                      <%= f.submit t(".signin"), class: "btn btn-primary w-100" %>
              <% end %>
              <p> <%= t ".new_user" %> <%= link_to t(".sign_up_now") %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
