<% provide :title, t(".forgot_password") %>
<div class="back-to-home rounded d-none d-sm-block">
  <%= link_to root_path, class:"text-white rounded d-inline-block text-center" do %>
    <i class="fas fa-home"></i>
  <% end %>
</div>
<section class="vh-100">
  <div class="home-center">
    <div class="home-desc-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6">
            <div class="login_page bg-white shadow rounded p-4">
              <div class="text-center">
                <h4 class="mb-4"><%= t ".recover_account" %></h4>
              </div>
              <div class="login-form">
                <%= form_with scope: :password_reset, url: new_password_reset_path, local: true do |f| %>
                  <div class="row">
                    <div class="col-lg-12">
                      <p class="text-muted"><%= t ".please_enter" %></p>
                      <div class="form-group position-relative">
                        <%= f.label :email do %>
                          <%= t(".email") %><span class="text-danger"> *</span>
                        <% end %>
                        <%= f.email_field :email, class: "form-control", required: true %>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <%= f.submit t(".submit"), class: "btn btn-primary w-100"%>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end container-->
    </div>
  </div>
</section>
