<tr>
  <td class="td-action"><%= link_to job_application.candidate.full_name, profile_path(job_application.candidate), class:"text-dark" %></td>
  <td class="td-action"><%= time_ago_in_words job_application.created_at %></td>
  <td class="td-action"><span id="status_for_<%= job_application.id %>" class="badge badge-<%= job_application.status %>"><%= job_application.status %></span></td>
  <td class="td-action" >
    <% if !job_application.cancelled?%>
      <div class="btn-group btn-group-xs">
        <%= form_tag job_application_path(job_application), remote: true, method: :patch, id: "form_for_#{job_application.id}" do |f| %>
          <%= hidden_field :job_application, :status, value: Settings.status.reviewing %>
          <%= button_tag type: "submit", class: " btn btn-xs btn-warning","data-toggle": "tooltip", "data-placement": "top", title: "Reviewing", data: { confirm: t(".sure")} do %>
            <i class="fas fa-eye"></i>
          <% end %>
        <% end %>
        <%= form_tag job_application_path(job_application), remote: true, method: :patch, id: "form_for_#{job_application.id}" do |f| %>
          <%= hidden_field :job_application, :status, value: Settings.status.interviewing %>
          <%= button_tag type: "submit", class: "btn btn-xs btn-primary","data-toggle": "tooltip", "data-placement": "top", title: "Interviewing", data: { confirm: t(".sure")} do %>
            <i class="fas fa-chalkboard-teacher"></i>
          <% end %>
        <% end %>
        <%= form_tag job_application_path(job_application), remote: true, method: :patch, id: "form_for_#{job_application.id}" do |f| %>
          <%= hidden_field :job_application, :status, value: Settings.status.denied %>
          <%= button_tag type: "submit", class: "btn btn-xs btn-danger", "data-toggle": "tooltip", "data-placement": "top", title: "Denied",data: { confirm: t(".sure")} do %>
            <i class="fas fa-minus-circle"></i>
          <% end %>
        <% end %>
        <%= form_tag job_application_path(job_application), remote: true, method: :patch, id: "form_for_#{job_application.id}" do |f| %>
          <%= hidden_field :job_application, :status, value: Settings.status.accepted %>
          <%= button_tag type: "submit", class: "btn btn-xs btn-success", "data-toggle": "tooltip", "data-placement": "top", title: "Accepted", data: { confirm: t(".sure")} do %>
            <i class="fas fa-check"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </td>
</tr>
