<% if current_user&.has_role? :candidate %>
  <div class="col-lg-12 mt-4 pt-2">
    <div class="border rounded bg-white">
      <div class="p-3">
        <div class="row align-items-center">
          <div class="col-lg-2">
            <div class="company-logo-img">
              <img src="<%= Settings.url.placeholder.job %>" alt="" class="img-fluid mx-auto d-block">
            </div>
          </div>
          <div class="col-lg-7 col-md-9">
            <div class="job-list-desc">
              <h6 class="mb-2">
                <%= link_to job_application.job_post_title, job_post_path(job_application.job_post_id), class:"text-dark" %>
                <span id="status_for_<%= job_application.id %>" class="ml-2 badge badge-<%= job_application.status %>"><%= job_application.status %></span>
              </h6>
              <p class="text-muted mb-0"><i class="fas fa-building mr-2"></i></i><%= job_application.job_post_category_title %></p>
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <p class="text-muted mb-0"><i class="fa fa-map-marker mr-2"></i><%= job_application.job_post_location %></p>
              </li>
              <li class="list-inline-item">
                <p class="text-muted mb-0"><i class="fas fa-clock mr-2"></i><%= time_ago_in_words job_application.created_at %> <%= t ".ago" %></p>
              </li>
            </ul>
          </div>
        </div>
        <% if current_user&.has_role? :candidate %>
          <div class="col-lg-3 col-md-3">
            <div class="job-list-button-sm text-right">
              <% if job_application.reviewing?  %>
                <%= form_tag job_application_path(job_application), remote: true, method: :patch, id: "form_for_#{job_application.id}" do |f| %>
                  <%= hidden_field :job_application, :status, value: Settings.status.cancel %>
                  <%= submit_tag t(".cancel"), class: "btn  btn-sm btn-danger-outline text-danger mt-2", data: { confirm: t(".sure")} %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
        <% if current_user&.has_role? :recruiter %>
          <div class="col-lg-3 col-md-3 text-right">
            <%= form_tag job_application_path(job_application), remote: true, method: :patch do |f| %>
              <%= hidden_field :job_application_id, job_application.id %>
              <%= select :job_application, :status, JobApplicationStatus.all.collect {|j| [j.title, j.id]}, {},
                      class: "nice-select rounded float-right mb-3 mr-2 status-select" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
<% if current_user&.has_role? :recruiter %>
  <div class="col-lg-12 mt-4 pt-2">
    <div class="border rounded bg-white">
      <div class="p-3">
        <div class="row align-items-center">
          <div class="col-lg-2">
            <div class="company-logo-img">
              <img src="<%= Settings.url.placeholder.job %>" alt="" class="img-fluid mx-auto d-block">
            </div>
          </div>
          <div class="col-lg-7 col-md-9">
            <div class="job-list-desc">
              <h6 class="mb-2"><%= link_to job_application.candidate.full_name, profile_path(job_application.candidate) %></h6>
              <p class="text-muted mb-0"><i class="fab fa-accusoft mr-2"></i><%= job_application.job_post_title %></p>
              <p class="text-muted mb-0"><i class="fas fa-address-book mr-2"></i><%= job_application.candidate_phone_number %></p>
              <p class="text-muted mb-0"><i class="fas fa-clock mr-2"></i><%= time_ago_in_words job_application.created_at %> <%= t ".ago" %></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 text-right">
            <%= form_for job_application, remote: true, method: :patch do |f| %>
              <%= hidden_field :job_application_id, job_application.id %>
              <%= f.select :status, JobApplication.statuses.collect {|title, name| [title, name]}, {},
                      class: "nice-select rounded float-right mb-3 mr-2 status-select" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
