<header id="topnav" class="defaultscroll scroll-active">
  <div class="tagline">
    <div class="container">
      <div class="float-left">
        <div class="phone">
          <i class="fa fa-phone" aria-hidden="true"></i> <%= Settings.phone_number %>
        </div>
        <div class="email">
          <%= link_to Settings.empty_path do %>
            <i class="fa fa-envelope" aria-hidden="true"></i> <%= Settings.support_email %>
          <% end %>
        </div>
      </div>
      <div class="float-right">
        <% unless logged_in? %>
          <ul class="topbar-list list-unstyled d-flex top-right-a">
            <li class="list-inline-item"><%= link_to t(".sign_up"), signup_path %></li>
            <li class="list-inline-item"><%= link_to t(".signin"), login_path %></li>
          </ul>
        <% else %>
          <ul class="topbar-list list-unstyled d-flex top-right-a">
            <li class="list-inline-item"><%= link_to t(".logout"), logout_path, method: :delete %></li>
          </ul>
        <% end %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="container">
    <div>
      <%= link_to root_path, class: "logo" do %>
        <%= image_tag "logo_light.png", class: "logo-light", height: Settings.logo_small %>
        <%= image_tag "logo_dark.png", class: "logo-dark", height: Settings.logo_small %>
      <% end %>
    </div>
    <% if current_user&.recruiter? %>
      <div class="buy-button">
        <%= link_to t(".post_a_job"), new_job_post_url, class: "btn btn-primary" %>
      </div>
    <% end %>
    <div class="menu-extras">
      <div class="menu-item">
        <%= link_to Settings.empty_path, class: "navbar-toggle" do %>
          <div class="lines">
            <span></span>
            <span></span>
            <span></span>
          </div>
        <% end %>
      </div>
    </div>
    <div id="navigation">
      <ul class="navigation-menu">
        <li><%= link_to t(".home"), root_path %></li>
        <% if current_user&.recruiter? %>
          <li class="has-submenu">
            <%= link_to t(".employer"), Settings.empty_path %>
            <ul class="submenu">
              <li><%= link_to t(".job_applications_history"), job_applications_path %></li>
            </ul>
          </li>
        <% end %>
        <% if current_user&.candidate? %>
          <li class="has-submenu">
            <%= link_to t(".candidate"), Settings.empty_path %><span class="submenu-arrow"></span>
            <ul class="submenu">
              <% if current_user.profile %>
                <li><%= link_to t(".my_profile"), profile_path(current_user.profile) %></li>
              <% end %>
              <li><%= link_to t(".job_applications_history"), job_applications_path %></li>
            </ul>
          </li>
        <% end %>
        <li><%= link_to t(".contact"), contact_path %></li>
      </ul>
    </div>
  </div>
</header>
