<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/shim" %>
    <%= render "layouts/i18n" %>
  </head>
  <body>
    <%= render "layouts/preloader"%>
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
    <%= render "layouts/back_to_top" %>
    <%= javascript_pack_tag "shared/plugins" %>
    <%= javascript_pack_tag "shared/app", "data-turbolinks-track": "reload" %>
    <%= toastr_flash %>
  </body>
</html>
