<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "recruiters_application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>

    <%= render "layouts/shim" %>
    <%= render "layouts/i18n" %>
  </head>
  <body class="sidebar-mini layout-fixed">
    <%= render "layouts/recruiters_header" %>
    <%= render "layouts/recruiters_sidebar" %>
    <%= yield %>
    <%= toastr_flash %>
  </body>
</html>
