<p><%= t ".hello" %> <%= @resource.email %>!</p>

<p><%= t ".someone_change" %></p>

<p><%= link_to t(".change_my_password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t ".if_not_you" %></p>
<p><%= t ".until_you" %></p>
