<% provide :title, t(".signup") %>
<section class="vh-100">
  <div class="home-center">
    <div class="home-desc-center">
      <div class="container">
        <div class="row justify-content-center mt-4 mb-4">
          <div class="col-md-6">
            <div class="login_page bg-white shadow rounded p-4">
              <div class="text-center">
                <h4 class="mb-4"><%= t ".signup" %></h4>
              </div>
              <% resource.build_profile if resource.profile.nil? %>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <div class="row mb-2">
                  <%= f.fields_for :profile do |ff| %>
                    <div class="col-md-6">
                      <div class="form-group position-relative">
                        <%= ff.label :first_name do %>
                          <%= t ".first_name" %><span class="text-danger"> *</span>
                        <% end %>
                        <%= ff.text_field :first_name, class: "form-control", required: true %>
                        <div class="invalid-feedback" style="display: block;">
                          <%= ff.object.errors.full_messages_for(:first_name).join(". ") %>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group position-relative">
                        <%= ff.label :last_name do %>
                          <%= t ".last_name" %><span class="text-danger"> *</span>
                        <% end %>
                        <%= ff.text_field :last_name, class: "form-control", required: true %>
                        <div class="invalid-feedback" style="display: block;">
                          <%= ff.object.errors.full_messages_for(:last_name).join("\n") %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  <div class="col-md-12">
                    <div class="form-group position-relative">
                      <%= f.label :email do %>
                        <%= t ".email" %><span class="text-danger"> *</span>
                      <% end %>
                      <%= f.email_field :email, class: "form-control", required: true %>
                      <div class="invalid-feedback" style="display: block;">
                        <%= f.object.errors.full_messages_for(:email).join("\n") %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group position-relative">
                      <%= f.label :password do %>
                        <%= t ".password" %><span class="text-danger"> *</span>
                      <% end %>
                      <%= f.password_field :password, class: "form-control", required: true %>
                      <div class="invalid-feedback" style="display: block;">
                        <%= f.object.errors.full_messages_for(:password).join("\n") %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group position-relative">
                      <%= f.label :password_confirmation do %>
                        <%= t ".password_confirmation" %><span class="text-danger"> *</span>
                      <% end %>
                      <%= f.password_field :password_confirmation, class: "form-control", required: true %>
                      <div class="invalid-feedback" style="display: block;">
                        <%= f.object.errors.full_messages_for(:password_confirmation).join("\n") %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <%= f.submit t(".signup"), class: "btn btn-primary w-100" %>
                  </div>
                </div>
              <% end %>
              <%= render "users/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
